.card-border {
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  font-family: verdana;
}

.card-border::before,
.card-border::after,
span::before,
span::after {
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	background: transparent;
	transition: 1s;
	/* -webkit-mix-blend-mode: hue; */
}

.card-border::before {
	top: -3px;
	left: -3px;
	border-top: 3px solid #a02a70;
	border-left: 3px solid #a02a70;
}
.card-border::after {
	top: -3px;
	right: -3px;
	border-top: 3px solid #a02a70;
	border-right: 3px solid #a02a70;
}

span::before {
	bottom: -3px;
	left: -3px;
	border-bottom: 3px solid #a02a70;
	border-left: 3px solid #a02a70;
}
span::after {
	bottom: -3px;
	right: -3px;
	border-bottom: 3px solid #a02a70;
	border-right: 3px solid #a02a70;
}


.card-border:hover::before,
.card-border:hover::after,
.card-border:hover span::before,
.card-border:hover span::after  {
	width: calc( 250px);
	height: calc( 170px);
}